*.iml
.gitignore.swp
build/
.gradle/
.idea/
/local.properties
app/build/
app/libs/
app/*.iml
app/proguard-rules.pro
app/src/androidTest/
app/src/test/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
